/* Generic Styles */

.container {
  text-align: center;
}

.row {
  display: inline-block;
}

/* Board Styles */

.circle {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

/* Button Styles */

#button-container {
  margin-top: 15px;
  display: block;
}
